<ion-header>
    <ion-toolbar>
        <ion-title>Upload skin sample image</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="canvas">

    <br>


    <ion-card class="ion-text-center" *ngIf="!isUploading && !isUploaded">
        <ion-card-header>
            <ion-card-title style="color: white;">Upload the image doctor!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-button color="primary" shape="round" expand="block" size="medium">
                <input id="files" type="file" style="display:none;" (change)="uploadFile($event.target.files)" />
                <label for="files">Select file</label>
            </ion-button>
        </ion-card-content>
    </ion-card>

    <ion-card class="ion-text-center" *ngIf="isUploading && !isUploaded">
        <ion-card-header>
            <ion-card-title>Selected File:<b>{{ fileName }}</b></ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <div *ngIf="percentage | async as pct">
                Progress: {{ pct | number }}%
                <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
            </div>
            <div *ngIf="snapshot | async as snap">
                <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
                    <ion-button color="warning" size="small" (click)="task.pause()" class="button is-warning">Pause</ion-button>
                    <ion-button size="small" (click)="task.resume()" class="button is-info">Resume</ion-button>
                    <ion-button color="danger" size="small" (click)="task.cancel()" class="button is-danger">Cancel</ion-button>
                </div>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card class="ion-text-center" *ngIf="!isUploading && isUploaded">
        <ion-card-header>
            <ion-card-title style="color: white;">
                <b>{{ fileName }}</b> sample image uploaded!
            </ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <div *ngIf="UploadedFileURL | async as url">
                <img [src]="url" />

            </div>
            <ion-button expand="full" color="success" (click)="isUploading = isUploaded = false">Upload Another</ion-button>
        </ion-card-content>
    </ion-card>

    <ion-card color="light" class="ion-text-center" *ngIf="isUploaded">
        <ion-card-header>
            <ion-card-title>
                Image Link
            </ion-card-title>
            <ion-button (click)="getimg()" expand="block">View Image</ion-button>
        </ion-card-header>
    </ion-card>



    <ion-card style="text-align: center; margin: 0 auto;">
        <ion-button href="/home" style="text-align: center; margin: 0 auto;">Log Out</ion-button>
    </ion-card>
</ion-content>